# Funciones en Python

In [1]:
def suma(x,y):
    return x+y

suma(13,7)

20

In [26]:
class Operaciones(object):
    def suma (self, x, y):
        self.resultado = x+y
        return self.resultado    
    def resta (self, x, y):
        self.resultado = x-y
        return self.resultado

In [29]:
oper = Operaciones()

In [32]:
oper.suma(4,5)

9

In [33]:
oper.resta(23,45)

-22

In [39]:
def saludar():
    name= str(input("introduce tu nombre: "))
    if name:
        print("Hola "+name)
    else:
        print("Estoy programando")

In [42]:
saludar()

introduce tu nombre: christian
Hola christian

()

In [43]:
saludar()

introduce tu nombre:
Estoy programando

()

In [63]:
def buscaPares():
    for x in range(100):
        if x % 2 == 0:
            print (f"Este es un numero par: {x}")
            print("\n")
        else:
            print (f"Este es un nuemro impar: {x}")
            print("\n")

In [64]:
buscaPares()

Este es un numero par: 0


Este es un nuemro impar: 1


Este es un numero par: 2


Este es un nuemro impar: 3


Este es un numero par: 4


Este es un nuemro impar: 5


Este es un numero par: 6


Este es un nuemro impar: 7


Este es un numero par: 8


Este es un nuemro impar: 9


Este es un numero par: 10


Este es un nuemro impar: 11


Este es un numero par: 12


Este es un nuemro impar: 13


Este es un numero par: 14


Este es un nuemro impar: 15


Este es un numero par: 16


Este es un nuemro impar: 17


Este es un numero par: 18


Este es un nuemro impar: 19


Este es un numero par: 20


Este es un nuemro impar: 21


Este es un numero par: 22


Este es un nuemro impar: 23


Este es un numero par: 24


Este es un nuemro impar: 25


Este es un numero par: 26


Este es un nuemro impar: 27


Este es un numero par: 28


Este es un nuemro impar: 29


Este es un numero par: 30


Este es un nuemro impar: 31


Este es un numero par: 32


Este es un nuemro impar: 33


Este es un numero par: 34


Este es un nuemro impar: 35


Este es un numero par: 36


Este es un nuemro impar: 37


Este es un numero par: 38


Este es un nuemro impar: 39


Este es un numero par: 40


Este es un nuemro impar: 41


Este es un numero par: 42


Este es un nuemro impar: 43


Este es un numero par: 44


Este es un nuemro impar: 45


Este es un numero par: 46


Este es un nuemro impar: 47


Este es un numero par: 48


Este es un nuemro impar: 49


Este es un numero par: 50


Este es un nuemro impar: 51


Este es un numero par: 52


Este es un nuemro impar: 53


Este es un numero par: 54


Este es un nuemro impar: 55


Este es un numero par: 56


Este es un nuemro impar: 57


Este es un numero par: 58


Este es un nuemro impar: 59


Este es un numero par: 60


Este es un nuemro impar: 61


Este es un numero par: 62


Este es un nuemro impar: 63


Este es un numero par: 64


Este es un nuemro impar: 65


Este es un numero par: 66


Este es un nuemro impar: 67


Este es un numero par: 68


Este es un nuemro impar: 69


Este es un numero par: 70


Este es un nuemro impar: 71


Este es un numero par: 72


Este es un nuemro impar: 73


Este es un numero par: 74


Este es un nuemro impar: 75


Este es un numero par: 76


Este es un nuemro impar: 77


Este es un numero par: 78


Este es un nuemro impar: 79


Este es un numero par: 80


Este es un nuemro impar: 81


Este es un numero par: 82


Este es un nuemro impar: 83


Este es un numero par: 84


Este es un nuemro impar: 85


Este es un numero par: 86


Este es un nuemro impar: 87


Este es un numero par: 88


Este es un nuemro impar: 89


Este es un numero par: 90


Este es un nuemro impar: 91


Este es un numero par: 92


Este es un nuemro impar: 93


Este es un numero par: 94


Este es un nuemro impar: 95


Este es un numero par: 96


Este es un nuemro impar: 97


Este es un numero par: 98


Este es un nuemro impar: 99

In [70]:
def sumaresta(x,y):
    suma = x+y
    resta = x-y
    return suma, resta

In [71]:
sumaresta(1233,234)

(1467, 999)

In [72]:
sumaresta(x=243,y=24)

(267, 219)

In [73]:
#en caso de ausencia de numero en y: 

def sumaresta(x,y=0):
    suma = x+y
    resta = x-y
    return suma, resta

In [74]:
sumaresta(32)

(32, 32)

In [75]:
sumaresta(3423,234)

(3657, 3189)

In [13]:
def suma(*a):
    return sum(a)

In [6]:
suma(1,2)

3

In [7]:
suma(322,232,2323,5435,756)

9068

In [4]:
suma(1,4)

5

In [14]:
suma(234,234)

468

In [21]:
def sumacuadrados(*datos):
    total=0
    for d in datos:
        total= total + d**2 #total += d**2
    return total

In [17]:
sumacuadrados(2,2)

8

In [20]:
sumacuadrados(3,3,2)

22

In [19]:
sumacuadrados(8,74)

5540

## Funciones anonimas

In [23]:
doble = lambda x: x*2

In [37]:
doble(5)

10

In [47]:
cuadrado= lambda x: x**2

In [48]:
cuadrado(4)

16

In [65]:
def cuadrado(n):
   
    return n**2

In [64]:
cuadrado(8)

64

In [66]:
suma= lambda x, y: x+y

In [67]:
suma(23,23)

46

In [69]:
from functools import reduce

In [70]:
data= [1,2,3,4,5,6,7,8,9,10]

In [76]:
filtered_data = list(filter(lambda x: (x*2>8), data))

In [77]:
filtered_data

[5, 6, 7, 8, 9, 10]

In [79]:
mapped_data = list(map(lambda x: x*2, data))

In [80]:
mapped_data

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [81]:
reduced_data= reduce(lambda x,y: x+y, data) #acumula datos con x

In [82]:
reduced_data

55